/* * {
  box-sizing: border-box;
}

header {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
header > .logo {
  margin-top: 7px;
  margin-right: 5px;
  width: 45px;
  height: fit-content;
} */
